@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radial-gradient-background: 75, 85, 99; /* red */
  --solid-color-background: 255, 255, 255; /* white */
  --overlay-color: 75, 85, 99; /* red */
  --x: 100%; /* Example value, adjust as needed */
}

.radial-gradient {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(var(--radial-gradient-background), 0.05) 0%,
      transparent 60%
    ),
    rgba(var(--solid-color-background), 1);
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
    rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

/* Additional styles for better button appearance */
button {
  padding: 12px 24px; /* Increased padding for bigger outline */
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: rgba(var(--solid-color-background), 1);
}

button .linear-mask {
  display: block;
  height: 100%;
}

button .linear-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
